#  ────────── GENERAL ──────────
TEST_ENV=<ВАШ ТЕНАНТ>
TEST_STAND_URL=<СТЕНД>

# ────────── BROWSER ──────────
BROWSER=chromium
HEADLESS=false
SLOW_MO=0
TIMEOUT=30000
VIDEO=retain-on-failure
SCREENSHOT=only-on-failure
TRACE=retain-on-failure

# ────────── API ──────────
API_TIMEOUT=30
API_RETRY_COUNT=3
API_RETRY_DELAY=1

# ────────── TEST USERS ──────────
TEST_USER_EMAIL=user@bank.test
TEST_USER_PASSWORD=password123
TEST_VIP_EMAIL=vip@bank.test
TEST_VIP_PASSWORD=password123
TEST_SUPPORT_EMAIL=support@bank.test
TEST_SUPPORT_PASSWORD=password123
TEST_ADMIN_EMAIL=admin@bank.test
TEST_ADMIN_PASSWORD=password123 